name: Deploy to GitHub Pages

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Build website
        env:
          DEPLOYMENT_URL: ${{ secrets.DEPLOYMENT_URL }}
          DEPLOYMENT_BRANCH: ${{ secrets.DEPLOYMENT_BRANCH }}
          BASE_URL: ${{ secrets.BASE_URL }}
          GITHUB_ORG: ${{ secrets.ORG }}
          GITHUB_PROJECT: ${{ secrets.PROJECT }}
        run: npm run build && cp -r build github-pages

      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: github-pages

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    if: ${{  github.event_name  != 'pull_request' }}

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
