name: CI/CD Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  pages: write
  id-token: write

jobs:
  build-and-deploy-to-pages:
    name: Build website and deploy to GitHub Pages
    uses: ./.github/workflows/deploy.yaml
    secrets: inherit
